*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.top-half, .bottom-half {
  height: 50vh;
  display: flex;
  justify-content: center;
}

.top-half {
  align-items: flex-end;
}

.bottom-half {
  align-items: flex-start;
}

.center {
  font-size: xx-large;
  text-align: center;
}

a {
  color: #00B7FF;
}
